@import "./variables.css";
@import  "./reset.css";


.main-content {
    background-image: url(images/hero-banner-e1674123702524.jpg);
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
   display: block;
   padding: 20px;
}

.register {
    background-color: transparent;  
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px solid var(--light-color);
    border: 20px;
    font-family: var( --font-family);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.register h1{
    font-weight: var(  --font-weight-bold);
    font-size: 20px;
    white-space: nowrap;
}


.register button {
   padding: 13px 10px;
   font-family: var(--font-family);
   border-radius: 4px;
   border-color:  var(--button-color);
   background-color: transparent;
   transition: all 0.5s ease;
   cursor: pointer;
   color: var(--light-color);
   font-size: 10px;
   font-weight: var(--font-weight-bold);
}

.register button:hover {
    background-color: var(--button-color);
}

@media (min-width: 768px) {
    .register {
      /* Adjust styles for larger screens */
    width: 650px;
    height: 450px;
    }

    .register button {
        padding: 20px 20px;
        font-family: var(--font-family);
        border-radius: 4px;
        border-color:  var(--button-color);
        background-color: transparent;
        transition: all 0.5s ease;
        cursor: pointer;
        color: var(--light-color);
        font-size: 16px;
        font-weight: var(--font-weight-bold);
     }


     .register h1{
        font-weight: var(  --font-weight-bold);
        font-size: 2.4em;
    }
  
   
  }
  
